<!-- <h1>AAAAAAAAAAAAAAAA</h1> -->

<main class="l-main">
    <!--========== CAROUSEL ==========-->

    <!-- <div carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="separe-menu">
        <a slide ng-repeat="brand in brands track by brand.brand_name" index="$index" class="single-brand"
            style="overflow: hidden; height: 500px; max-height: 500px;">
            <img ng-src="frontend/views/images/home/{{brand.brand_image}}" style="display: block; width: 100%; height: auto; position: absolute; top: 0; bottom: 0; margin: auto">
            <div class="carousel-caption">
                <h1>{{brand.brand_name}}</h1>
            </div>
        </a>
    </div> -->

    <div class="carousel">
        <div class="carousel__container">
            <button class="carousel__prev">
                <i class='fa fa-chevron-left'></i>
            </button>
            <div class="carousel__list">
                <div class="carousel__elements" ng-repeat="brand in brands">
                    <img class='carousel__img' ng-click="redirect_shop('brand', brand.brand_name)" id='' src='frontend\views\images\home\{{brand.brand_image}}'>
                </div>
            </div>
            <button class="carousel__next">
                <i class='fa fa-chevron-right'></i>
            </button>
        </div>
        <div class="carousel__indicator"></div>
    </div>

    <!--========== CATEGORIES ==========-->
    <section id="feature">
        <div class="container">
            <div class="center fadeInDown">
                <h2 style="margin-top: 30px;">Categorías</h2>
            </div>
            <div ng-repeat="category in categories">
                <div class="features">
                    <div class="col-md-3 col-sm-4 fadeInDown">
                        <a>
                            <div class="feature-wrap">
                                <img src="frontend\views\images\home\{{category.category_image}}"
                                    style="border-radius: 5px;" id='{{category.category_name}}'
                                    ng-click="redirect_shop('category', category.category_name)">
                                <h2 style="padding-top: 1em;">{{category.category_name}}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--========== TYPES ==========-->
    <section id="feature">
        <div class="container">
            <div class="center fadeInDown">
                <h2 style="margin-top: 30px;">Tipos</h2>
            </div>
            <div ng-repeat="type in types">
                <div class="features">
                    <div class="col-md-3 col-sm-4 fadeInDown">
                        <a>
                            <div class="feature-wrap">
                                <img src="frontend\views\images\home\{{type.type_image}}" style="border-radius: 5px;"
                                    id='{{type.type_name}}' ng-click="redirect_shop('type', type.type_name)">
                                <h2 style="padding-top: 1em;">{{type.type_name}}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>