<!-- <div class="shop__container">
    <div class="shop__list" ng-show="show_list_product">
        <br><br><br><br>
        <div class="filters__container">
            <form autocomplete="on" method="post" name="filter" id="filter" >
                <div class="filters__content" ng-repeat="(key, filter) in filters">
                    <label class="filters__title">{{key}}</label>
                    <div class="filters__input" ng-repeat="value in filter">
                        <input class='check' id="{{key}}" ng-repeat="name in value" type='checkbox' ng-click = "filter_products(name, key)"/>
                        <label for='talla' ng-repeat="name in value" value='{{name}}'>{{name}}</label>        
                    </div>
                    <br>
                </div>
            </form>
        </div> -->

<div style="margin-left: 3%; position: absolute; top: 233px;">
    <form>
        <div ng-repeat="(key, filters) in filters">
            <h4>{{key | uppercase}}:</h4>

            <div ng-repeat="filter in filters">
                <input type="checkbox" id="{{key}}{{filter.brand}}">
                <label for="{{key}}{{filter.brand}}" ng-repeat="name in filter">{{name}}</label>
            </div>


        </div>
    </form>
</div>



<div>
    <div id="cosa0">
        <div ng-repeat="product in products" id="cosa1">
            <div id="cosa3">
                <h1 id="cosa4">{{product.brand}} {{product.model}}</h1>
                <h1 id="cosa5">{{product.price}}€ {{product.category}}</h1>
                <h1 id="cosa5">{{product.km}} KM</h1>
            </div>
            <div id="clearfix">
                <div style="position: relative;">
                    <img id="imagen" src="frontend\views\images\cars\{{product.image}}">
                    <i class="topright fa fa-heart-o" id=""></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- $('<div></div>').attr({ 'id': "divCars", 'class': "divCars" }).appendTo('#shopPage');
 $('<div></div>').attr({ 'id': "cosa0", 'class': "cosa0" }).appendTo('#divCars');
}).appendTo('#shopPage').html('<p> </p>');

 for (row in data) {
 $('<div></div>').attr({ 'class': data[row].ID, 'id': "cosa1", 'car_id': data[row].ID }).appendTo('.cosa0');
 $('<div></div>').attr({ 'class': "cosa3" + row, 'id': "cosa3", 'car_id': data[row].ID }).appendTo('.' +
data[row].ID);
 $('<div></div>').attr({ 'class': "clearfix" + row, 'id': "clearfix" }).appendTo('.' + data[row].ID);
 $('<h1></h1>').html(data[row].brand + ' ' + data[row].model).attr({ 'class': "cosa4" + row, 'id': "cosa4"
}).appendTo('.cosa3' + row);
 $('<h1></h1>').html(data[row].price + '€ ' + data[row].category).attr({ 'class': "cosa5" + row, 'id': "cosa5"
}).appendTo('.cosa3' + row);
 $('<h1></h1>').html(data[row].km + ' KM').attr({ 'class': "cosa5" + row, 'id': "cosa5" }).appendTo('.cosa3' + row);
 $('<div></div>').attr({ 'class': "divImagen" + data[row].ID, 'id': "divImagen" + data[row].ID, 'style': 'position:
relative;' }).appendTo('.clearfix' + row);
 $('<img></img>').attr({ 'class': "imagen" + row, 'id': "imagen", 'src':
'http://localhost/Framework_PHP_OO_MVC/views/images/cars/' + data[row].image + '' }).appendTo('#divImagen' +
data[row].ID);

');
 $('<i></i>').attr({ 'class': "topright fa fa-heart-o elbotondelike", 'id': "heart" + data[row].ID, 'car_id':
data[row].ID }).appendTo('#divImagen' + data[row].ID).html('<h3></h3>'); -->


<!-- <div class="shop__list">
    <div class="list__container">
        <div class="list__content" id="list_product" ng-repeat="product in list_products">
            <div class='list__product' id='{{product.codigo_producto}}'>
                <div class='list__heart' id='{{product.codigo_producto}}' ng-click="add_favs()">
                    <i id='like' class='bx {{product.favs_class}}'> </i>
                </div>
                <div class='list__imges' id='{{product.codigo_producto}}' ng-click="load_details()">
                    <img class='list__img' src='http://localhost/website/frontend/{{product.images}}'>
                </div>
                <div class='list__data' id='#'>
                    <div class='list__brand'>
                        <div class='list__name'>{{product.nombre}}</div>
                        <div class='list__price'>{{product.precio}}</div>
                    </div>
                    <div class='list__descriptionc'>
                        <div class='list__codigo_producto'> {{product.codigo_producto}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul style="display: flex; align-items: center; justify-content: center">
    <li><a href="" ng-click="change_page(current_page - 1)" ng-show="show1">Previous</a></li>
    <li><a href="" ng-repeat="page in pages" ng-click="change_page(page)">{{page}}</a></li>
    <li><a href="" ng-click="change_page(current_page + 1)" ng-show="show2">Next</a></li>
</ul>
</div>

<div class="shop__details" ng-show="show_details">
    <div class='container py-xl-5 py-lg-3'>
        <div class='row' ng-repeat="product in list_products">
            <div class='col-lg-6 left-wthree-img text-right'>
                <img src='http://localhost/website/frontend/{{product.images}}' alt='' class='img-fluid mt-5' />
                <div class='list__heart' id='{{product.codigo_producto}}' ng-click="add_favs()">
                    <br><br><br><br><br>
                    <i id='like' class='bx {{product.favs_class}}'> </i>
                </div>
            </div>
            <div class='col-lg-6 about-right-faq'>
                </br> </br> </br> </br>
                <h3 class='text-da'>{{product.nombre}}</h3>
                <ul class='w3l-right-book mt-4'>
                    <li>Codigo Producto: {{product.codigo_producto}}</li>
                    <li>Nombre: {{product.nombre}}</li>
                    <li>Precio: {{product.precio}}</li>
                    <li>Talla: {{product.talla}}</li>
                    <li>Color: {{product.color}}</li>
                    <li>Descripcion: {{product.descripcion}}</li>
                </ul>
                <button id='product.codigo_producto' class='button' ng-click='add_cart(product.codigo_producto)'>Add To
                    Cart</button>
                <a class='button' href="#/shop">Volver</a>
            </div>
        </div>
        <br>
        <br>
        <div class="cat">
            <div class="services__details" ng-repeat="item in api_content.items">
                <img src='{{item.volumeInfo.imageLinks.smallThumbnail}}' alt='' class='services__img'
                    id='{{item.volumeInfo.title}}'>
                <h3 class='services__title'>{{item.volumeInfo.title}}</h3>
            </div>
        </div>
    </div>
</div> -->