<div class="top-bar">

    <div class="container">
        <div class="col-sm-6 col-xs-12">
            <div class="social">
                <div class="search">
                    <div id="search">
                        <div id="divSearch" class="">
                            <select id="category" name="category" ng-model="selected_category"
                                ng-change="change_brand(selected_category)">
                                <option value="none" selected="selected" disabled="disabled" hidden="hidden">Category
                                </option>
                                <option ng-repeat="category in categories" value="{{category.category}}">
                                    {{category.category}}</option>
                            </select>
                            <select id="brand" name="brand" ng-model="selected_brand">
                                <option value="none" selected="selected" disabled="disabled" hidden="hidden">Brand
                                </option>
                                <option ng-repeat="brand in brands" value="{{brand.brand}}">{{brand.brand}}</option>
                            </select>
                            <input id="city" type="text" autocomplete="off" ng-model="city"
                                ng-change="change_cities(selected_category, selected_brand, city)">
                            <div id="divcity">
                                <div class="option" id="Olleria" ng-repeat="city in cities">{{city.city}}</div>
                            </div>
                            <i id="searchButton" class="fa fa-search"
                                style="position: absolute; bottom: 10px; margin-left: 10px;" ng-click="search(selected_category, selected_brand, city)"></i>
                        </div>
                    </div>
                </div>
                <div class="login">
                    <div id="login"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="" alt="logo"></a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav" id="ulMenu">
                <li class="active home-button">
                    <a href="#home" class="menu-btn" id="home" data-tr="Home">Home</a>
                </li>
                <li class="shop-button">
                    <a href="#shop" class="menu-btn" id="shop" data-tr="Shop">Shop</a>
                </li>
                <li class="contact-button">
                    <a href="#contact" class="menu-btn" id="contact" data-tr="Contact">Contact</a>
                </li>
                <li class="login-button">
                    <a href="#login" ng-show="show_login" class="menu-btn" id="login" data-tr="Log in">Log in</a>
                    <a href="#logout" ng-show="show_logout" class="menu-btn" id="logout" data-tr="Log out">Log out</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-tr="Languages"><i
                            class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="lang-btn" data-tr="Valencian" id="btn-val"></a></li>
                        <li><a class="lang-btn" data-tr="Spanish" id="btn-es"></a></li>
                        <li><a class="lang-btn" data-tr="English" id="btn-en"></a></li>
                        <li><a class="lang-btn" data-tr="Standard Galactic Alphabet" id="btn-aa"></a></li>
                    </ul>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog-item.html">Blog Single</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact-us.html">Contact</a></li> -->
                <!-- <li><a href="index.php?module=exceptions&op=list" class="menu-btn">Contact us</a></li> -->

            </ul>
        </div>
    </div>
    <!--/.container-->
</nav>